.comment {
  text-align: center;
  align-items: center;
}
.comment h4 {
  margin-top: 100px;
  margin-bottom: 20pxs;
}
.com {
  border: 1px solid rgba(0, 0, 0, 0.186);
  width: 1000px;
  /* margin-left: 10.5%; */
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.222);
}
.Border {
  display: flex;
  justify-content: center;
}
